@media (max-width: 1050px) {
  .flex {
    flex-direction: column;
    min-height: 25%;
    position: relative;
    width: 93%;
    margin: 0 auto;
  }
}

@media (max-width: 845px) {
  .main_container{
    width: 90%;
    justify-content: space-around;
  }
}

@media (max-width: 700px) {
  .main_container{
    flex-direction: column;
  }
  .card{
    height: 250px;
  }
  .left_block{
    width: 99%;
    justify-content: center;
  }
  .right_block{
    width: 99%;
    margin-top: 30px;
  }
  .btn_blue{
    margin-left: 50%;
    transform: translate(-50%, 0);
  }
}